<h1>Issue 07: HOMME</h1>

<a class="byline" href="#featured">
  <img class="img-responsive" src="/assets/img/homme/borshch/1.jpg" alt="Koch-Mayor-of-the-City-of-New-York-by-Dmitry-Borschch">
</a>

<h2>Table of Contents</h2>

<a class="byline" title="The Rationality of Your Duty – or – What You Think Your Fathers Wanted" href="/articles/the-rationality-of-your-duty-%E2%80%93-or-%E2%80%93-what-you-think-your-fathers-wanted">
The Rationality of Your Duty – or – What You Think Your Fathers Wanted</a> by Eric Lloyd Blix<br>

<a class="byline" title="Spearfish Canyon by Mark Brenden" href="/articles/spearfish-canyon">Spearfish Canyon</a> by Mark Brenden <br>

<a class="byline" title="Always Singular, Never Alone by Eric Cummings" href="/articles/always-singular,-never-alone">Always Singular, Never Alone</a> by Eric L. Cummings <br>
<a class="byline" title="3. by Jon Dambacher" href="/articles/3">3.</a> by Jon Dambacher <br>
<a class="byline" title="Jerk by Joseph Farley" href="/articles/jerk">Jerk</a>·
<a class="byline" title="Searching the Wreckage by Joseph Farley" href="/articles/searching-the-wreckage">Searching the Wreckage</a> by Joseph Farley <br>
<a class="byline" title="Argentina Days After Paul Bowles by Moneta Goldsmith" href="/articles/argentina-days-after-paul-bowles">Argentina Days After Paul Bowles</a>·
<a class="byline" title="Short Talk on Booksellers by Moneta Goldsmith" href="/articles/short-talk-on-booksellers">Short Talk on Booksellers</a> by Moneta Goldsmith <br>
<a class="byline" title="Keen by Lauren Gordon" href="/articles/keen">Keen</a>·
<a class="byline" title="Wooden Lady by Lauren Gordon" href="/articles/wooden-lady">Wooden Lady</a>·
<a class="byline" title="Seeding 1. by Lauren Gordon" href="/articles/seeding-1">Seeding 1.</a>·
<a class="byline" title="Seeding 2. By Lauren Gordon" href="/articles/seeding-2">Seeding 2.</a>·
<a class="byline" title="The Bounding Main of Your Mind by Lauren Gordon" href="/articles/the-bounding-main-of-your-mind">The Bounding Main of Your Mind</a> by Lauren Gordon <br>
<a class="byline" title="Dad Capsule by Peter Milne Greiner" href="/articles/dad-capsule">Dad Capsule</a> by Peter Milne Greiner <br>
<a class="byline" title="The Occupation by Terence Kuch" href="/articles/the-occupation">The Occupation</a> by Terence Kuch <br>
<a class="byline" title="Bottled by Diane Lefer" href="/articles/bottled">Bottled</a> by Diane Lefer <br>
<a class="byline" title="From the Cretaceous by Rupprecht Mayer" href="/articles/from-the-cretaceous">From the Cretaceous</a> by Rupprecht Mayer <br>
<a class="byline" title="Peeper’s Sorority by RC Miller &amp; Gary Shipley" href="/articles/peeper’s-sorority">Peeper’s Sorority</a>·
<a class="byline" title="Four Nocturnes by RC Miller &amp; Gary Shipley" href="/articles/four-nocturnes">Four Nocturnes</a>·
<a class="byline" title="Bang Scanner by RC Miller &amp; Gary Shipley" href="/articles/bang-scanner">Bang Scanner</a>·
<a class="byline" title="Exploded Awake by RC Miller &amp; Gary Shipley" href="/articles/exploded-awake">Exploded Awake</a>·
<a class="byline" title="Worldwide Enema by RC Miller &amp; Gary Shipley" href="/articles/worldwide-enema">Worldwide Enema</a>·
<a class="byline" title="Saying Djinn by RC Miller &amp; Gary Shipley" href="/articles/saying-djinn">Saying Djinn</a>·
<a class="byline" title="Molecular Welt by RC Miller &amp; Gary Shipley" href="/articles/molecular-welt">Molecular Welt</a>·
<a class="byline" title="Stump Flap by RC Miller &amp; Gary Shipley" href="/articles/stump-flap">Stump Flap </a> by RC Miller &amp; Gary Shipley <br>
<a class="byline" title="A Glacial Age by MF Nagel" href="/articles/a-glacial-age">A Glacial Age</a> by MF Nagel <br>
<a class="byline" title="Aphorisms by Scott F. Parker" href="/articles/aphorisms">Aphorisms</a> by Scott F. Parker <br>
<a class="byline" title="King Kong by Ratty St. John" href="/articles/king-kong">King Kong</a>·
<a class="byline" title="Jesus is a Faggot and I Invented Tupperware by Ratty St. John" href="/articles/jesus-is-a-faggot-and-i-invented-tupperware">Jesus is a Faggot and I Invented Tupperware</a> by Ratty St. John <br>
<a class="byline" title="The Temporality of Rhetoric by Dennis Sweeney" href="/articles/the-temporality-of-rhetoric">The Temporality of Rhetoric</a> by Dennis James Sweeney <br>
<a class="byline" title="The Doctor’s Urn by Terrell Jamal Terry" href="/articles/the-doctor’s-urn">The Doctor’s Urn</a>·
<a class="byline" title="Love Makes a Monster by Terrell Jamal Terry" href="/articles/love-makes-a-monster">
    Love Makes a Monster</a> by Terrell Jamal Terry <br>
<a class="byline" title="Universefucker by CJ Waterman" href="/articles/universefucker">Universefucker </a> by CJ Waterman <br>
<a class="byline" title="A Temple Your Father Found by Zack Woodard" href="/articles/a-temple-your-father-found">A Temple Your Father Found </a> by Zack Woodard <br>
<a class="byline" title="Man Can(not) Be by Sennah Yee" href="/articles/man-can(not)-be">Man Can(not) Be</a> by Sennah Yee <br>
<a class="byline" title="The Summoning" href="/articles/the-summoning">The Summoning</a> by Robb Steinpreis <br>
<a class="byline" title="If re-reading Katsuhiro Otomo’s Akira During a Storm" href="/articles/if-re-reading-katsuhiro-otomo’s-akira-during-a-storm">If re-reading Katsuhiro Otomo’s Akira During a Storm</a> by John Beck <br>
<h2>Homme Columns</h2>
<div>
  <a class="byline" title="You Should Watch Buck Angel Fuck" href="/articles/you-should-watch-buck-angel-fuck">You Should Watch Buck Angel Fuck</a> by Diego Baez</div>
<div>
  <a class="byline" title="Call Me Lee" href="/articles/call-me-lee">Call Me Lee</a> by Shane Roeschlein</div>
<div>
  <a class="byline" title="No place like Hom(m)e: Aussie Men and Mummy-Issues" href="/articles/no-place-like-hom(m)e-aussie-men-and-mummy-issues">No Place Like HOMME</a> by Naomi Riddle</div>
<div>
  <a class="byline" title="The Man Behind the Woman: Gender and the Pop-Star/Producer Duality" href="/articles/the-man-behind-the-woman-gender-and-the-pop-star-producer-duality">The Man Behind the Woman</a> by Peter Boyle</div>
<div>
  <a class="byline" title="The Truth" href="/articles/the-truth">The Truth</a> by Alex Vallejo</div>
<div>
  <a class="byline" title="Venus Inscribed: on Colonizing (Anti-)Spaces" href="/articles/venus-inscribed-on-colonizing-(anti-)spaces/">Venus Inscribed - on Colonizing (Anti-)Spaces</a> by Alex Cruse</div>
<div></div>
<div>

<a class="byline" href="#featured"><img src="/assets/img/homme/borshch/2.jpg" alt="Doctor-Kissinger-by-Dmitry-Borschch" class="img-responsive"> </a>
</div>