<div class="search">
	
<div class="content" id="content">
<!--
<form id="searchform">
<input placeholder="Search…" type="text" id="search" class="search-input tl-search"></form>
<ul id="results" class="post-list results"><hr/></ul>
-->
<div id="searcharea">
<input type="text" name="search" id="search" class="search-input tl-search" placeholder="Search..." autocomplete="off" />
</div>
<div id="update"></div>


</div>

</div>

  <script src='{{ " /js/search.js " | prepend: site.baseurl }}' type="text/javascript"></script> 