//xsmall
@media (max-width: 400px) {
  //#masthead { background: red; }
    .site-header{height: 220px;}
    .banner{
        font-size: calc(#{$base-font-size} * 2);
        padding-top: 90px;
      }
    .subtext, .subtext-h{
        font-size: 90%;
        letter-spacing: 8px;
        word-spacing: 10px;
      }
    .main-navigation {
        float: left;
        margin: 30px auto 10px;
        >ul  > li{
        display: block;
        margin: 0 auto;
        padding: 8px;
        text-align: center;
        width: 80%;
        }
      }
    .map-wrapper { display: none;}
    .wrapper{ max-width: 360px;}
    .panel{
        display: block;
        float: none;
        margin: 60px auto;
        width: 90%;
        }

    .post-list {
        > li:nth-child(n+16) {
        display: none;   
        }
    }
    .filter{
        float: none;
        margin: 10px auto;
        width: 96%;
        >ul  > li{
        display: block;
        text-align: center;
        margin: 0 auto;
        width: 80%;
        }
    }
    .timeline{
      float: none;
      margin: $spacing-unit auto;
      width: 100%;
        > ul {
        display: inline;
        padding: 0;
        }
        > a {
        display: inline-block;
        margin: 0 auto;
        padding: 2px;
        }
        > p, li { display: inline;}
    }
    .article-header,
    .article-content,
    .article-author{
        margin: 40px 5%;
        width: 80%;
    }

}
//small
@media (min-width: 401px) and (max-width: 800px) {
  //#masthead { background: green; }
  .site-header{height: 240px;}
    .banner{
        font-size: 260%;
        padding-top: 110px;
      }
    .subtext, .subtext-h{
        font-size: 90%;
        letter-spacing: 8px;
        word-spacing: 10px;
      }
    .main-navigation {
        float: left;
        margin: 40px auto 10px;
        >ul  > li{
        display: block;
        margin: 0 auto;
        padding: 8px;
        text-align: center;
        width: 80%;
        }
      }
    .wrapper{ max-width: 800px;}
    .panel{
        display: block;
        float: none;
        margin: 60px auto;
        width: 90%;
        }
    .post-list {
        > li:nth-child(n+24) {
        display: none;   
        }
    }
    .filter{
        float: none;
        margin: 10px auto;
        width: 96%;
        >ul  > li{
        display: block;
        text-align: center;
        margin: 0 auto;
        width: 80%;
        }
    }
    .search{
      margin: 0 auto;
      width: 90%;
    }
    .timeline{
      float: none;
      margin: $spacing-unit auto;
      width: 90%;
        > ul {
        display: inline;
        padding: 0;
        }
        > a {
        display: inline-block;
        margin: 0 auto;
        }
        > p, li { display: inline; padding: 1px;}
    }
    .article-header,
    .article-content,
    .article-author{
        margin: 40px 5%;
        width: 80%;
    }
}
//medium
@media (min-width: 801px) and (max-width: 1223px) {
  //#masthead { background: pink; }
  .site-header{height: 260px;}
    .banner{
        font-size: 420%;
        padding-top: 120px;
      }
    .subtext, .subtext-h{
        font-size: 100%;
        letter-spacing: 8px;
        word-spacing: 10px;
      }
    .main-navigation {
        margin: 90px auto 10px;
        >ul  > li{
        display: inline;
        margin: 0 auto;
        padding: 0 4%;
        text-align: center;
        }
      }
    .wrapper{ max-width: 1200px;}
    .panel{
        display: block;
        float: none;
        margin: 60px auto;
        width: 90%;
        }
    .post-list {
        > li:nth-child(n+32) {
        display: none;   
        }
    }
    .filter{
        float: none;
        margin: 30px auto;
        width: 96%;
        >ul  > li{
        display: inline;
        text-align: center;
        margin: 0 auto;
        padding: 0 3%;
        }
    }
    .search{ margin: 0 auto; width: 90%;}
    .timeline{
      float: none;
      margin: $spacing-unit auto;
      width: 96%;
        > ul {
        display: inline;
        padding: 0;
        }
        > a {
        display: inline-block;
        margin: 0 auto;
        padding: 2px;
        }
        > p, li { display: inline;}
    }
    .article-header,
    .article-content,
    .article-author{
        margin: 40px 5%;
        width: 80%;
    }
    .post {
      width: 650px;
      margin: 10px auto;
    }

}

//large
@media (min-width: 1224px) {
  //#masthead { background: blue; }
  .site-header{height: 300px;}
    .banner{
        font-size: 500%;
        padding-top: 110px;
      }
    .subtext, .subtext-h{
        font-size: 110%;
        letter-spacing: 16px;
        word-spacing: 24px;
      }
    .main-navigation {
        margin: 100px auto 20px;
        >ul  > li{
        display: inline;
        margin: 0 auto;
        padding: 0 2%;
        text-align: center;
        }
      }
    .wrapper{ max-width: 1200px;}
    .panel{
        display: block;
        float: left;
        margin: $spacing-unit 2%;
        width: 60%;
        }
    .filter{
        float: left;
        margin: $spacing-unit 0;
        width: 14%;
        >ul  > li{
        display: block;
        }
    }
    .search{
      margin-bottom: $spacing-unit;
      width: 98%;
    }
    .tl{
        float: left;
        margin: $spacing-unit 0;
        height: 754px;
        overflow: hidden;
        width: 22%;
    }
    .timeline{
        height: 89%;
        width: 102%;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-right: 15px;
        float: left;
        > ul {
        display: inline;
        padding: 0;
        }
        > a {
        display: inline-block;
        margin: 0 auto;
        padding: 2px;
        }
        > p, li { display: inline;}
    }
    .article-header,
    .article-content,
    .article-author{
        margin: 40px 5%;
        width: 80%;
    }
    .post {
      width: 750px;
      margin: 10px auto;
    }
}