---
layout: fullwidth
---
<article class="post-popup"> 
<noscript>
  {% include post-content.html%}
</noscript>
      
<div id="post-modal" class="modal-body">
  <a onclick="history.back(-1)" class="close">X</a> 
  {% include post-content.html%}
</div>
<div id="fade" class="black_overlay"></div>
</article>

  <script>
  $(document).ready(function()
  {
    document.getElementById('post-modal').style.display = 'block';
    document.getElementById('fade').style.display = 'block';
    $(".close").click(function()
    {
      document.getElementById('post-modal').style.display = 'hidden';
      document.getElementById('fade').style.display = 'hidden';
    });
    $(document).keyup(function(e)
    {
      if (e.keyCode == 27) $('.close').click(); // esc
    });
  });
  </script>
